#header {
	background:#71236b;
	height:150px;
	width:100%;
	border:none;
  border-radius:0;

}
#header a img {
	height:100px;
}
.wrapper {
  width:88%;
  margin:0 auto;
}
/*CAROUSEL*/
#myCarousel {
  margin:0 auto;
  position:relative;
}
#control {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0)0%);
}
.carouselcontrol {
  width:25%;
}
#carouseltwo img {
  margin:0 auto;
}
#carouselthree img {
  margin:0 auto;
}
.carousel-caption h1 {
  color:white;
  font-size:23px;
  font-weight:bold;
  font-family:'Open Sans', sans-serif;
}
.carousel-indicators li {
  background:white;
  border:white;
  margin-top:3em;
}
.carousel-indicators .active {
  background:#71236b;
}
.carousel-caption {
  top:40px;
}
/*TYPOGRAPHY*/
/*BUTTONS*/
#wantmore, #needhelp, #wanttohelp {
  background:#00b1a9;
  border-radius:0;
  border:#00b1a9;
  margin:1em 20% 0;
  width:180px;
}
#wantmore h4, #needhelp h4, #wanttohelp h4 {
    font-family:'Open Sans', sans-serif;
}
#donate {
  background:red;
  color:white;
  border-radius:0;
  border:none;
  margin-top:3em;
  position:absolute;
  right:15%;
}
/*MODALS*/
#buttonmodal {
  width:80%;
  margin:0 auto;
}
h4 {
  font-family: "Open Sans", sans-serif;
  color:#00b1a9;
  font-weight:600;
  font-size:20px;
  margin:0 auto;
  max-width:88%;
}
h5 {
  color:#71236b;
  font-size:18px;
  padding-top:10px;
  padding-bottom:10px;
  line-height:18px;
  margin:0 auto;
  max-width:88%;
}
p {
  font-size:16px;
  line-height:25px;
  padding-bottom:2em;
  max-width:88%;
  margin:0 auto;
}
.modal {
  top:20%;
}
.progress-bar {
  background-color:#00b1a9;
}
.progress {
  margin:0 auto;
  width:88%;
}
/*MEDIA QUERIES*/
@media screen and (min-width:1200px) {
  .carousel-control {
    width:20%;
  }
} 
@media screen and (min-width:1200px) {
  #myCarousel {
    width:88%;
}
 .carousel-control {
  width:25%;
 }
}

@media screen and (min-width:1800px) {
  .carousel-control {
    width:50%;
  }
}
